html,
body {
	background-color: red;
	width: 100%;
	height: auto;
	display: grid;
	margin: 0;
	overflow: hidden;
	place-items: center;
}

#bm {
	width: 50%;
	/* transform: scale(0.5); */
}

h1 {
	font-size: 100px;
}

.text {
	display: grid;
	place-items: center;
}